################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TriviaMazeGUI/v16/Server/sqlite3/storage.ide
/.vs/TriviaMazeGUI/v16/Server/sqlite3/storage.ide-shm
/.vs/TriviaMazeGUI/v16/Server/sqlite3/storage.ide-wal
/.vs/TriviaMazeGUI/v16/.suo
/.vs/CSCD350_TriviaMaze/v16/.suo
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets
/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/documentation
/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/tools
/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3
/packages/Microsoft.NetFramework.Analyzers.2.9.3
/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3
/packages/Microsoft.CodeQuality.Analyzers.2.9.3
/packages/Microsoft.NetCore.Analyzers.2.9.3/analyzers/dotnet
/packages/Microsoft.NetCore.Analyzers.2.9.3
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI.csprojAssemblyReference.cache
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI_MarkupCompile.cache
