################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TriviaMazeGUI/v16/Server/sqlite3/storage.ide
/.vs/TriviaMazeGUI/v16/Server/sqlite3/storage.ide-shm
/.vs/TriviaMazeGUI/v16/Server/sqlite3/storage.ide-wal
/.vs/TriviaMazeGUI/v16/.suo
/.vs/CSCD350_TriviaMaze/v16/.suo
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
