################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TriviaMazeGUI/v16/Server/sqlite3/storage.ide
/.vs/TriviaMazeGUI/v16/Server/sqlite3/storage.ide-shm
/.vs/TriviaMazeGUI/v16/Server/sqlite3/storage.ide-wal
/.vs/TriviaMazeGUI/v16/.suo
/.vs/CSCD350_TriviaMaze/v16/.suo
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets
/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/documentation
/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/tools
/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3
/packages/Microsoft.NetFramework.Analyzers.2.9.3
/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3
/packages/Microsoft.CodeQuality.Analyzers.2.9.3
/packages/Microsoft.NetCore.Analyzers.2.9.3/analyzers/dotnet
/packages/Microsoft.NetCore.Analyzers.2.9.3
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI.csprojAssemblyReference.cache
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI_MarkupCompile.cache
/TriviaMazeGUI/obj/Debug/TrueFalse.baml
/TriviaMazeGUI/obj/Debug/MainWindow.baml
/TriviaMazeGUI/obj/Debug/AddQuestionToDB.baml
/TriviaMazeGUI/obj/Debug/About.baml
/TriviaMazeGUI/bin/Debug/TriviaMazeGUI.pdb
/TriviaMazeGUI/obj/Debug/Instructions.baml
/TriviaMazeGUI/obj/Debug/MultipleChoice.baml
/TriviaMazeGUI/obj/Debug/UserPrompt.baml
/TriviaMazeGUI/obj/Debug/StartPrompt.baml
/TriviaMazeGUI/obj/Debug/ShortAnswer.baml
/TriviaMazeGUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI.csproj.CopyComplete
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI.Properties.Resources.resources
/TriviaMazeGUI/bin/Debug/TriviaMazeGUI.exe
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI.csproj.FileListAbsolute.txt
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI.csproj.GenerateResource.cache
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI.exe
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI.pdb
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI_MarkupCompile.i.cache
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI_MarkupCompile.i.lref
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI_MarkupCompile.lref
/TriviaMazeGUI/bin/Debug/x64/SQLite.Interop.dll
/TriviaMazeGUI/bin/Debug/x86/SQLite.Interop.dll
/TriviaMazeGUI/obj/Debug/TriviaMazeGUI.g.resources
/TriviaMazeGUI/obj/Debug/UserPrompt.g.i.cs
/TriviaMazeGUI/obj/Debug/UserPrompt.g.cs
/TriviaMazeGUI/obj/Debug/TrueFalse.g.i.cs
/TriviaMazeGUI/obj/Debug/TrueFalse.g.cs
/TriviaMazeGUI/obj/Debug/StartPrompt.g.i.cs
/TriviaMazeGUI/obj/Debug/StartPrompt.g.cs
/TriviaMazeGUI/obj/Debug/ShortAnswer.g.i.cs
/TriviaMazeGUI/obj/Debug/ShortAnswer.g.cs
/TriviaMazeGUI/obj/Debug/MultipleChoice.g.i.cs
/TriviaMazeGUI/obj/Debug/MultipleChoice.g.cs
/TriviaMazeGUI/obj/Debug/MainWindow.g.i.cs
/TriviaMazeGUI/obj/Debug/MainWindow.g.cs
/TriviaMazeGUI/obj/Debug/Instructions.g.i.cs
/TriviaMazeGUI/obj/Debug/Instructions.g.cs
/TriviaMazeGUI/obj/Debug/App.g.i.cs
/TriviaMazeGUI/obj/Debug/App.g.cs
/TriviaMazeGUI/obj/Debug/AddQuestionToDB.g.i.cs
/TriviaMazeGUI/obj/Debug/AddQuestionToDB.g.cs
/TriviaMazeGUI/obj/Debug/About.g.i.cs
/TriviaMazeGUI/obj/Debug/About.g.cs
/TriviaMazeGUI/bin/Debug/TriviaMazeGUI.exe.config
/TriviaMazeGUI/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/TriviaMazeGUI.sln.DotSettings.user
/TriviaMazeGUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/TriviaMazeGUI/obj/Debug/QuestionResults.baml
/TriviaMazeGUI/obj/Debug/QuestionResults.g.cs
/TriviaMazeGUI/obj/Debug/QuestionResults.g.i.cs
/TriviaMazeGUI/obj/Debug/VictoryPrompt.baml
/TriviaMazeGUI/obj/Debug/VictoryPrompt.g.cs
/TriviaMazeGUI/obj/Debug/VictoryPrompt.g.i.cs
/TriviaMazeGUI.Tests/obj/Debug/TriviaMazeGUI.Tests.csproj.CopyComplete
/TriviaMazeGUI.Tests/obj/Debug/TriviaMazeGUI.Tests.csproj.FileListAbsolute.txt
/TriviaMazeGUI.Tests/obj/Debug/TriviaMazeGUI.Tests.csprojAssemblyReference.cache
/TriviaMazeGUI.Tests/obj/Debug/TriviaMazeGUI.Tests.dll
/TriviaMazeGUI.Tests/obj/Debug/TriviaMazeGUI.Tests.pdb
/TriviaMazeGUI.Tests/bin/Debug/Microsoft.ExtendedReflection.dll
/TriviaMazeGUI.Tests/bin/Debug/Microsoft.ExtendedReflection.Reasoning.dll
/TriviaMazeGUI.Tests/bin/Debug/Microsoft.Pex.Framework.dll
/TriviaMazeGUI.Tests/bin/Debug/TriviaMazeGUI.pdb
/TriviaMazeGUI.Tests/bin/Debug/TriviaMazeGUI.Tests.dll
/TriviaMazeGUI.Tests/bin/Debug/Microsoft.Pex.Framework.xml
/TriviaMazeGUI.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/TriviaMazeGUI.Tests/bin/Debug/TriviaMazeGUI.exe
/TriviaMazeGUI.Tests/bin/Debug/TriviaMazeGUI.exe.config
/TriviaMazeGUI.Tests/bin/Debug/TriviaMazeGUI.Tests.pdb
/TriviaMazeGUI/bin/Debug/save.dat
